# ─── App Settings ────────────────────────────────────────────────────────────
APP_NAME=MyFastAPIApp
APP_ENV=development          # development | staging | production
DEBUG=true

# ─── Server ──────────────────────────────────────────────────────────────────
HOST=0.0.0.0
PORT=8002


# ─── Security ────────────────────────────────────────────────────────────────
SECRET_KEY=your-super-secret-key-change-this
GROQ_API_KEY=GROQ_key_here
